body{
    background-image:url("banner.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    display:flex;
    justify-content:center;
}

.Panel{
    width:45vw;
    height:150vh;
    background-color: #F5F5FA;

    margin-top:2%;
    border:2px solid red;
    border-radius:1%;

    display:flex;
    align-items:center;

    flex-direction:column;
    flex-wrap:wrap;


}

.Icon {
    border-radius:50%;
    width:200px;
    height:200px;

    position:relative;
    flex-basis:0%;
}

.Font4{
    font-size:4vw;
    font-family:sans-serif;

    position:relative;
}
.Font3{
    font-size:2.5vw;
    font-family:sans-serif;

    position:relative;
}
.Font2{
    font-size:1vw;
    font-family:sans-serif;

    position:relative;
}
@media screen and (width <= 500px){
    .ChartPanel{
        height:5%;
    }
    .Icon{
        width:100px;
        height:100px;
    }
}
@media screen and (width > 500px){
    .ChartPanel{
        height:20%;
    }
}

.ChartPanel{
    width:90%;

    background-color:rgba(0,0,0,0);
    
    display:flex;
    justify-content:center;
    align-items:flex-end;

    border-radius:5px;
    border:2px solid #ff6600;
}
.ChartChild{
    width:10%;
    height:0%;

    margin:1%;
}